<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="https://www.unbin.ac.id/asset/media/750x480/content3.jpg" />
        <h2>Selamat Datang!</h2>
        <p>
          <b>Di PMB Universitas Binaniaga</b>
          Kalian dapat mengakses informasi yang berkaitan dengan pendftaran
          kuliah ini Buat kamu yang sibuk atau tidak sempat datang ke kampus
          untuk mendaftar, tidak perlu khawatir. Kami sudah menyediakan cara
          untuk mendaftar tanpa harus datang ke kampus. Caranya gampang, kamu
          hanya perlu mengikuti langkah-langkah dibawah ini : Pilih menu
          Pendaftaran pada website unbin.ac.id Pilih menu Daftar Online, atau
          klik link berikut pmb.unbin.ac.id Klik Daftar Isi form yang tertera
          dengan lengkap dan benar Klik Daftar Buka e-mail kamu Lalu, login
          dengan password yang terdapat di e-mail
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="https://unbin.ac.id/asset/media/750x480/isrp_2022.jpeg" />
        <h2>Profile</h2>
        <p>
          <b>Universitas Binaniaga</b>
          Universitas Binaniaga Indonesia atau disingkat UNBIN adalah sebuah
          universitas yang berasal dari gabungan 3 Perguruan Tinggi dibawah
          naungan Yayasan Binaniaga yaitu STIE Binaniaga, STIKOM Binaniaga dan
          AMIK Bogor. Unbin saat ini memiliki 2 fakultas yaitu Ekonomi dan Ilmu
          Komputer. Program Studi D3 Akuntansi D3 Manajemen Informatika S1
          Akuntansi S1 Manajemen S1 Sistem Informasi S1 Teknik Informatika S1
          Teknologi Informasi
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="https://unbin.ac.id/asset/img/unbin_big.png" />
        <h2>Sejarah</h2>
        <p>
          <b>SEJARAH SINGKAT UNIVERSITAS BINANIAGA INDONESIA</b>
          Universitas Binaniaga Indonesia merupakan Perguruan Tinggi Swasta
          (PTS) di Bogor yang merupakan penggabungan perguruan tinggi yang
          berada dibawah naungan Yayasan Binaniaga, yaitu STIKOM Binaniaga
          (didirikan tahun 1992), STIE Binaniaga (didirikan tahun 1993), dan
          AMIK Bogor (didirikan tahun 2004) yang telah disetujui oleh
          Kementerian Pendidikan dan Kebudayaan Republik Indonesia dengan SK No
          499/M/2020 tanggal 30 April 2020. Universitas Binaniaga Indonesia
          mempunyai dua Fakultas (1) Fakultas Informatika dan Komputer yang
          mempunyai empat program studi yang terdiri dari tiga program studi
          program sarjana, yaitu (a) program studi sistem informasi, (b) teknik
          informatika, (c) teknologi informasi dan (d) program studi manajemen
          informatika program diploma tiga. (2) Fakultas Ekonomi dan Bisnis yang
          mempunyai tiga program studi yang terdiri dari (a) program studi
          manajemen program sarjana, (b) program studi akuntansi program sarjana
          dan (c) program studi akuntansi program diploma tiga.
        </p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
