<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mahasiswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="slide">
    <img src="assets/farhan.jpg" alt="Moch rovi farhan" />
    <h2>NAMA :Moch Rovi Farhan</h2>
    <h2>PRODI : SISTEM INFORMASI B SEMESTER 5</h2>
    <h2>NPM : 14200019</h2>
    <h2>Email : farhanrovi88@gmail.com</h2>
  </div>

  <div class="slide">
    <img src="assets/febri.jpg" alt="Moch rovi farhan" />
    <h2>NAMA :Febri Reinaldi Sedtijawan</h2>
    <h2>PRODI : SISTEM INFORMASI B SEMESTER 5</h2>
    <h2>NPM : 14200019</h2>
    <h2>Email :febrireinaldi107@gmail.com</h2>
  </div>

  <div class="slide">
    <img src="assets/salim.jpg" />
    <h2>NAMA :Salimm segaf alqosam</h2>
    <h2>PRODI : SISTEM INFORMASI B SEMESTER 5</h2>
    <h2>NPM : 14200021</h2>
    <h2>Email : Salimsegaf@gmail.com</h2>
  </div>
</ion-content>
